{% load static %}
{% block body %}
{% include "admin_navigation.html" %}

<script type="text/javascript">
  function checkpass() {
    if (document.changepassword.newpassword.value != document.changepassword.confirmpassword.value) {
      alert("Password does not match");
      document.changepassword.confirmpassword.focus();
      return false;
    }
    return true;
  }
</script>


  <div class="container">
    <h1>Change {{request.user }} Password</h1>
    <form method="post" name="changepassword" onsubmit="return checkpass()">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label">Current Password</label>
        <input type="password" name='currentpassword' class="form-control" required="true" >
      </div>
      <div class="mb-3">
        <label class="form-label">New Password</label>
        <input type="password" name='newpassword' class="form-control" required="true" >
      </div>
      <div class="mb-3">
        <label class="form-label">Confirm New Password</label>
        <input type="password" name='confirmpassword' class="form-control" required="true" >
      </div>

      <div class="mb-3">
        <input type="submit" class="form-control btn btn-primary" value="Submit">
      </div>

    </form>
  </div>

  {% if error == "no" %}
  <script>
    alert("Password changed Succuessfully")
    window.location = ('{% url 'Logout' %}')
  {% endif %}
  </script>
  {% if error == "yes" %}
  <script>
    alert("Something went wrong! try again")
  {% endif %}
  </script>
  {% if error == "not" %}
  <script>
    alert("Your current password is wrong")
  {% endif %}
  </script>
{% endblock %}
