{% load static %}
{% block body %}
{% include "navigation.html" %}
<div class="container">
  <h1>Candidat login</h1>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" name="uname" class="form-control"  placeholder="Enter your Email">
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" name="pwd" class="form-control" id="formGroupExampleInput2" placeholder="Enter password">
    </div>
    <div class="mb-3">
      <input type="submit" class="form-control btn btn-primary" value="Submit">
    </div>

  </form>
  <a href="{% url 'user_signup' %}" class="form-control btn btn-primary">Créer Compte</a>

</div>

{% if error == "no" %}
<script>
  alert("Login Succuessfull")
  window.location = ('{% url 'user_home' %}')
{% endif %}
</script>
{% if error == "yes" %}
<script>
  alert("email or password incorrect! try again")
{% endif %}
</script>
{% endblock %}
